@model IEnumerable<VillaDto>
<br/>
<div class="container p-4 border">
    <div class="row pb-2">
        <div class="col-5">
            <h1 class="text-primary">Villa List</h1>
        </div>
        <div class="col text-end pt-1">
            <a asp-controller="Villa" asp-action="CreateVilla" class="btn btn-outline-primary"><i class="bi bi-plus-square-fill"></i> Create New Villa</a>
        </div>
    </div>
    <table class="table">
        <thead>
            <tr>
                <td>
                    Name
                </td>
                <td>
                    Occupany
                </td>
                <td>
                    Price
                </td>
                <td>

                </td>
            </tr>
        </thead>
        <tbody>
            @foreach(var temp in Model){
            <tr>
                <td>
                    @temp.Name
                </td>
                <td>
                    @temp.Occupancy
                </td>
                <td>
                    @((temp.Rate).ToString("c"))
                </td>
                <td>
                        <a asp-controller="Villa" asp-action="UpdateVilla" asp-route-villaId="@temp.Id" class="btn btn-outline-success"><i class="bi bi-pencil-square"></i></a>
                        <a asp-controller="Villa" asp-action="DeleteVilla" asp-route-villaId="@temp.Id" class="btn btn-outline-danger"><i class="bi bi-trash-fill"></i></a>
                </td>
            </tr>
            }
        </tbody>
    </table>
</div>